---
host: get.scrapehero.com
info:
  title: News API
  version: 1.0.0
tags:
  - name: Endpoints
    description: News API
paths:
  "/news-api/news/":
    get:
      tags:
        - Endpoints
      summary: Get all news that matches the search criteria
      produces:
        - application/json
      security:
        - apikey: []
      responses:
        "200":
          description: OK
        "400":
          description: Invalid parameters
        "401":
          description: No API key found in request / Invalid authentication credentials
        "404":
          description: Page not found
        "429":
          description: API rate limit exceeded
        "500":
          description: Failed to process request
      parameters:
        - in: query
          name: q
          type: string
          default: Iphone
          required: true
          description: Search Term
        - in: query
          enum:
            - Positive
            - Negative
            - Neutral
          name: sentiment
          type: string
          default: Positive
          required: false
          description: Sentiment
        - in: query
          name: start_date
          type: string
          default: "2020-12-01"
          required: false
          description: Search start date
        - in: query
          name: end_date
          type: string
          default: "2020-12-03"
          required: false
          description: Search end date
        - in: query
          name: source_id
          type: string
          default: "277,4171"
          required: false
          description:
            Source ID from the /source endpoint. Provide multiple source
            IDs separated by comma to get news from multiple sources.
        - in: query
          name: category_id
          type: string
          default: "13010000,04018000"
          required: false
          description:
            IPTC codes of category or subcategory from the /categories endpoint
            to filter news from particular categories. Provide multiple category IPTC
            codes separated by comma to get news from multiple categories.
      description:
        Returns all news from the sources that matches the search term,
        sentiment, start date, end date, source and the news category.
  "/news-api/sources/":
    get:
      tags:
        - Endpoints
      summary: Get all news sources that we are tracking
      produces:
        - application/json
      security:
        - apikey: []
      responses:
        "200":
          description: OK
        "400":
          description: Invalid parameters
        "401":
          description: No API key found in request / Invalid authentication credentials
        "404":
          description: Page not found
        "429":
          description: API rate limit exceeded
        "500":
          description: Failed to process request
      parameters: []
      description: News Sources
  "/news-api/categories/":
    get:
      tags:
        - Endpoints
      summary: Get all news categories
      produces:
        - application/json
      security:
        - apikey: []
      responses:
        "200":
          description: OK
        "400":
          description: Invalid parameters
        "401":
          description: No API key found in request / Invalid authentication credentials
        "404":
          description: Page not found
        "429":
          description: API rate limit exceeded
        "500":
          description: Failed to process request
      parameters: []
      description: News Categories
schemes:
  - https
  - http
swagger: "2.0"
basePath: "/"
security:
  - apikey: []
securityDefinitions:
  apikey:
    in: query
    name: x-api-key
    type: apiKey
